@model MyCinema.Models.MovieModel

@*<div> FOR DEBUGGING
	<h4>@Model.Name</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Duration)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Duration)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Thumbnail)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Thumbnail)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Genre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Genre)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
	<a asp-action="Index">Back to List</a>
</div>*@
<div class="text-center">
	<h1 class="display-4">@Model.Name</h1>
	<small>@Model.Genre, @Model.Duration</small>
	<hr>
</div>
<div class="custom-flex-box bg-light" style="padding: 48px 0">
	<div class="custom-flex-item">
		<img class="custom-flex-item-img" src="@Model.Thumbnail" alt="@Model.Name">
	</div>
	<div class="custom-flex-item">
		<strong>Описание:</strong>
		<p>@Model.Description</p>
		<div class="custom-flex-box" style="justify-content: center">
			<div id="hall-scheme" style="padding: 30px">
				<div class="screen">
					<div class="caption">екран</div>
				</div>
				<div id="hall-scheme-legend">
					<ul>
						<li>
							<div class="seat seat-color2"></div>
							$@Model.Price
						</li>
					</ul>
				</div>
				<div class="wrapper">
					<div id="hall-scheme-container" style="overflow: hidden;">
						<div class="custom-flex-box-wrap" style="justify-content: center; width: 235px;">
							@foreach (SeatModel item in ViewBag.SeatsList)
							{
								@if (item.Seat_Status == 0)
								{
									<a id="@item.Id" class="seat seat-color2" href="Home/Buy/@item.Id" title="ряд: @item.Seats_Row, место: @item.Seat_Number" style="font-size: 11px; position: relative; width: 16px; height: 16px; line-height: 16px; margin:1px;">@item.Seat_Number</a>
								}
								else
								{
									<div id="@item.Id" class="seat seat-occupied" title="ряд: @item.Seats_Row, место: @item.Seat_Number" style="font-size: 11px; position: relative; width: 16px; height: 16px; line-height: 16px; margin:1px;"></div>
								}
							}
							@*<a id="" asp-action="index" class="seat seat-color2" title="70.00 грн" style="font-size: 11px; position: relative; width: 16px; height: 16px; line-height: 16px; margin:1px;">3</a>
							<div id="" class="seat seat-hover" title="70.00 грн" style="font-size: 11px; position: relative; width: 16px; height: 16px; line-height: 16px; margin:1px;">3</div>
							<div id="" class="seat seat-occupied" title="70.00 грн" style="font-size: 11px; position: relative; width: 16px; height: 16px; line-height: 16px; margin:1px;">3</div>*@
						</div>
					</div>
				</div>
				<div id="hall-scheme-buttons" style="padding: 15px">
					<div class="center">
						<div>
							<button class="button purchase-button">купить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>